.Featured
{
   overflow: hidden;
   background-color:#80808026;
}
.Featured-item{
   
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
   padding: 10px;
   margin-bottom: 20px;
   background-color: white;

}

.featured-item-img
{
    margin: auto;
}
.featured-item-img img{
    width: 100%;
}
.featured-item-overley-info
{
    margin-top: 60px;
    color: white;
  
 
}
.featured-item-overley-info a{
    display: inline-block;
    color: white;
    margin-top: 20px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s ,opacity .5s;
    transition-delay: .8s;
}
.featured-item-overley-info span{
   
    font-size: 22px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0s;
   
}
.featured-item-overley-info p{
    font-size: 22px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
 }
.featured-item-overley
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: black;
    opacity: 0;
    transition: 1s;
}
.Featured-item:hover .featured-item-overley,
.Featured-item:hover .featured-item-overley-info span,
.Featured-item:hover .featured-item-overley-info p,
.Featured-item:hover .featured-item-overley-info a
{
    top:0;
    opacity: .7;
    visibility: visible;
  

}
